#top {
    color: whitesmoke;
    text-align: center;
    text-shadow: rebeccapurple;
}
.fancy-header{
    color: #00b4ff;
    text-decoration: underline;
    text-decoration-color: #7c00ff;
    text-align: center;
}

body{
    font-family: monospace;
    font-size: 20px;
    color: whitesmoke;
    background-image: url("../img/space.jpg");
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.center {
    text-align: center;
}
#align {
    list-style: square;
    display: inline-block;
    text-align: left;
    padding: 10px;
}
td, th{
    border-collapse: collapse;
    border: 1px solid;
    padding: 5px;
}
a:link {
    color: #7c00ff;
}
a:visited {
    color: red;
}
a:hover {
    color: orange;
}
a:active {
    color: blue;
}
#align, #blur, .fancy-header {
    backdrop-filter: blur(10px);
    width: fit-content;
    margin: auto;

}